<nav class='features'>

  <div id='features-state'></div>
  <div class='features-count'>
    <p id='selected-group-name'>select a group</p>
  </div>
  <h5>Features</h5>
  {{#if groups}}
    {{#each groups}}
      <div class='features-collection' data-group-id='{{_id}}'>
        {{#if features}}
          {{#each features}}
            <button class='feature-btn' id='{{_id}}'>{{name}}</button>
          {{/each}}
        {{/if}}
      </div>
      {{#if groups}}
        {{#each groups}}
          <div class='features-collection' data-group-id='{{_id}}'>
            {{#if features}}
              {{#each features}}
                <button class='feature-btn' id='{{_id}}'>{{name}}</button>
              {{/each}}
            {{/if}}
          </div>
          {{#if groups}}
            {{#each groups}}
              <div class='features-collection' data-group-id='{{_id}}'>
                {{#if features}}
                  {{#each features}}
                    <button class='feature-btn' id='{{_id}}'>{{name}}</button>
                  {{/each}}
                {{/if}}
              </div>
            {{/each}}
          {{/if}}
        {{/each}}
      {{/if}}
    {{/each}}
  {{/if}}
  <div class='add-group-feature'>
    <input
      type='text'
      id='feature-name'
      class='group-feature-name'
      placeholder='enter name'
    />
    <button class='add-group-feature-btn' id='add-feature-btn'><i
        class='fa fa-plus fa-lg'
      ></i>
    </button>
  </div>
  <p id='add-feature-note'>select a group first</p>
  <div class='add-existing-feature'>
    <input
      id='existing-feature-id'
      class='existing-feature-id'
      type='text'
      placeholder='existing feature id'
    />
    <button class='add-existing-feature-btn' id='add-existing-feature-btn'>
      <i class='fa fa-plus'></i>
    </button>
  </div>
</nav>