<nav class='groups'>
  <a class='app-xref' href='{{tutorial.url}}' target='_blank'>
    <div class='app-name'>{{{breakWords tutorial.name}}}</div>
    <p>click to visit</p>
  </a>
  <div class='groups-collection'>
    {{#if groups}}
      {{#each groups}}
        <div class='groups-nav'>
          <button class='dropdown-btn' data-group-id='{{_id}}' data-group-name='{{name}}'>
            {{name}}
            {{#if groups}}<i class='fa fa-caret-down'></i>{{/if}}
          </button>
          <div class='dropdown-container'>
            <!-- level 2 start -->
            {{#if groups}}
              {{#each groups}}
                <div class='groups-nav' style="margin-left: 5px;">
                  <button class='dropdown-btn' data-group-id='{{_id}}' data-group-name='{{name}}'>
                    {{name}}
                    {{#if groups}}<i class='fa fa-caret-down'></i>{{/if}}
                  </button>
                  <div class='dropdown-container'>
                    <!-- level 3 start -->
                     {{#if groups}}
                      {{#each groups}}
                        <div class='groups-nav' style="margin-left: 5px;">
                          <button class='dropdown-btn' data-group-id='{{_id}}' data-group-name='{{name}}'>
                            {{name}}
                            {{#if groups}}<i class='fa fa-caret-down'></i>{{/if}}
                          </button>
                        </div>
                      {{/each}}
                    {{/if}}
                  </div>
                  <div class='add-group-feature' style="margin-left: 5px;">
                      <input
                        id='group-name'
                        type='text'
                        class='group-feature-name group-name'
                        placeholder='enter name'
                        data-app-id='{{../../tutorial._id}}'
                        data-group-id='{{_id}}'
                      />
                      <button class='add-group-feature-btn add-group-btn' >
                        <i class='fa fa-plus fa-lg'></i>
                      </button>
                    </div>
                    <!-- level 3 end -->
                </div>
              {{/each}}
            {{/if}}
          </div>
          <div class='add-group-feature' style="margin-left: 5px;">
              <input
                id='group-name'
                type='text'
                class='group-feature-name group-name'
                placeholder='enter name'
                data-app-id='{{../tutorial._id}}'
                data-group-id='{{_id}}'
              />
              <button class='add-group-feature-btn add-group-btn' >
                <i class='fa fa-plus fa-lg'></i>
              </button>
            </div>
            <!-- level 2 end -->
        </div>
      {{/each}}
    {{/if}}
    <div class='add-group-feature' style="margin-left: 5px;">
      <input
        type='text'
        class='group-feature-name group-name'
        placeholder='enter name'
        data-app-id='{{tutorial._id}}'
      />
      <button class='add-group-feature-btn add-group-btn'>
        <i class='fa fa-plus fa-lg'></i>
      </button>
    </div>
  </div>
</nav>