<form action="/media/create-slide" method="post" class='row align-items-center mb-3'>
<div class="row col-4">

  <h4 class='text-center my-4 d-inline-block col-6'>Add Slide</h4>
  <button type="submit" id='add-slide' class='btn btn-primary my-4 d-inline-block col-2'>
    <i class='fa fa-plus fa-lg' aria-hidden='true'></i>
  </button>
</div>

 <div class='row col-4'>
      <div class='col-auto'>
        <label class='col-form-label' for='feature-id'>Feature Id:</label>
      </div>
      <div class='col-auto'>
        <input
          id='feature-id'
          class='form-control id-container'
          for='feature-id'
          readonly="true"
          name="featureId"
          {{#if slideData}}
            value="{{slideData.featureId}}" 
          {{/if}} 
          {{#if featureData}}
            value="{{featureData.featureId}}" 
          {{/if}}
          {{#if slide}}
            value="{{slide.feature}}" 
          {{else}}
            value="627cdc26ceaccba121754f9d"
          {{/if}}
        />
      </div>
    </div>

    <div class='row col-4'>
      <div class='col-auto'>
        <label class='col-form-label' for='slide-id'>Slide Id:</label>
      </div>
      <div class='col-auto'>
        <input
          id='slide-id'
          class='form-control id-container'
          for='slide-id'
          readonly="true"
          name="slideId"
          {{#if slideData}}
            value='{{slideData.slideId}}'
          {{/if}}
          {{#if slide}}
            value='{{slide._id}}'
          {{/if}}
        />
      </div>
    </div>

   

</form>

<form class="row ps-4">

  <div class="col-3"></div>
  <div class='row col-6 mb-4'>
    <div class='col-auto'>
      <label class='col-form-label' for='slideName'><h4>Slide Name:</h4></label>
    </div>
    <div class='col-auto'>
      <input 
      class='form-control' 
      type='text' 
      name='slideName' 
      id='slideName' 
      {{#if slide}}
        value="{{slide.name}}"
      {{/if}}
       />
    </div>
  </div>
  <div class="col-3"></div>


  <div class='media row'>
    <div  class='media-image col-8 border p-5 text-center'>
      {{#if slide}}
        <img id='image' src='/media/image/{{slide.imageName}}' alt='illustration' />
      {{/if}}
      <input
        type='file'
        name='image-file'
        id='image-file'
        class='form-control'
      />
    </div>

    <div class='col-4 border p-5 media-notes'>
      
      <textarea name='notes' id='notes'>{{#if slide}}{{slide.notes}}{{/if}}</textarea>
      <label for="notes" class="d-block text-center mt-2"><h4>To Retain</h4></label>
    </div>
    <div id='audio-container' class='media-audio col-12 border p-2 text-center'>
      <button id='btn-start' class='btn btn-primary me-2'>Start</button>
      <button id='btn-stop' class='btn btn-primary me-2'>Stop</button>
      <audio 
        id='audio'
        {{#if slide}}
          src="/media/audio/{{slide.audioName}}"
        {{else}}
          src='' 
        {{/if}}
       controls></audio>
    </div>
    <div class='media-audio col-12 border p-2 text-center'>
      <input id='submit' type='submit' value='Submit' class='btn btn-primary' />
    </div>
  </div>
</form>
